* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

body {
    background-image: url("../assets/Login.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}


/*.logo img {
    width: 127px;
    height: 80px;
}

#searchBox {
    width: 375px;
    height: 32px;
    border-radius: 16px;
    border: none;
}

.menu {
    margin: 10px auto;
}

.menu div a {
    color: black;
}

.menu2 {
    margin: 11px;
}

.menu2 button {
    width: 134px;
    height: 32px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}*/

li {
    list-style: none;
}

.slide_wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
}

.slides .animated {
    transition: 0.5s ease-out;
}

.slides li {
    width: 400px;
    height: 200px;
    background: #ccc;
    float: left;
}

.slides li:not(:last-child) {
    margin-right: 30px;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls span{
    background:#333;
    color: #fff;
    padding:10px 20px;
    margin:0 10px;
}