* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

body {
    background-image: url("../assets/Login.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.wrap {
    height: 100%;
}

.container {
    position: relative;
    top: 200px;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
}

/*.logo img {
    width: 127px;
    height: 80px;
}

#searchBox {
    width: 375px;
    height: 32px;
    border-radius: 16px;
    border: none;
}

.menu {
    margin: 10px auto;
}

.menu div a {
    color: black;
}

.menu2 {
    margin: 11px;
}

.menu2 button {
    width: 134px;
    height: 32px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}*/

/*slideshow css*/
li {
    list-style: none;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    clear: both;
}

.gallery {
    width: 1200px;
    margin: 20px auto;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
    padding-left: 0;
}

.gallery ul {
    width: 300%;
    position: relative;
    left: -300px;
}

.gallery ul li {
    float: left;
    width: 300px;
    height: 180px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    line-height: 150px;
}

.gallery ul li .img {
    border: 3px solid #ccc;
}

.g_item {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.g_item ul li {
    display: inline-block;
    margin-right: 10px;
    background: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.g_item ul li.on {
    background: #f00;
}

/*slideshow css end*/