* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

body {
    background-image: url("../assets/UserPage.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.wrap {
    height: 100%;
}

.container {
    position: relative;
    top: 200px;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.writepost {
    width: 1000px;
    height: 600px;
    background-color: #F2F2F2;
    margin: 0 auto;
    border-radius: 50px;
}

.top {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.name {
    width: 170px;
    height: 45px;
    background-color: white;
    border-radius: 15px;
    margin-right: 75px;
    text-align: center;
    padding: 10px;
}

/*
.title {
    width: 610px;
    height: 45px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
*/

.title > input {
    width: 610px;
    height: 45px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.writearea {
    position: relative;
    top: 60px;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}

.writearea textarea {
    width: 450px;
    height: 400px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 350px;
    resize: none;
}

.post_btn {
    position: absolute;
    left: 930px;
    bottom: 85px;
}

.post_btn > button {
    width: 160px;
    height: 50px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}