.wrap {
  width: 100%;
  height: 1000px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.wrap_top {
  width: 100%;
  height: 500px;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
}

.wrap_bot {
  width: 100%;
  height: 500px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

#con_1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  outline: none;
}

#con_2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  color: black;
}

.pic_area {
  width: 100%;
  height: 50%;
  text-align: center;
}

.pic_area > img {
  margin-top: 15px;
}

.badge_area {
  width: 50%;
  height: 10%;
}

.badge_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.badge_list > img {
  width: 10%;
  height: 10%;
  margin-bottom: 5px;
}

#con_2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#con_2 > div > input {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  outline: none;
}

#con_2 > div > label {
  margin: 0 10px 0px 0px;
}

#con_2 > div > button {
  width: 80px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
}

.bot_btn {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bot_btn > button {
  width: 150px;
  height: 70px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
}

/* 회원 응대 모달 css */

.modal-content {
  width: 100% !important;
  border-radius: 25px;
}

.modal-dialog {
  max-width: 50%;
  margin: 11.75rem auto !important;
}

.modal_header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.head {
  display: flex;
  width: 100%;
  text-align: center;
}

.head_con {
  border: 1px solid black;
  width: 50%;
  text-align: center;
  color: black;
}

.head_con > select {
  border: none;
  text-align: center;
}

.modal-body > textarea {
  resize: none;
}

.modal_title {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: black;
  justify-content: center;
  align-items: center;
}

.modal_title > p {
  margin: 0 !important;
}
