.row {
  justify-content: center;
}

/* table css */
#search_area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
}

select {
  width: 10%;
  height: 30px;
  text-align: center;
  text-align-last: center;
  border: 1px solid black;
  border-radius: 5px;
}

option {
  text-align: center;
  text-align-last: center;
}

#search_bar {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

#sub {
  width: 7%;
  border: 1px solid black;
  border-radius: 5px;
}

.table {
  color: black;
}

@media (min-width: 1920px) {
  .container {
    max-width: 100%;
  }
}
