#search_area {
  width: 100%;
  background-color: white;
  display: inline-block;
}

select {
  height: 30px;
  text-align: center;
  text-align-last: center;
}

option {
  text-align: center;
  text-align-last: center;
}

#search_bar {
  width: 90%;
}

.table {
  color: black;
}

.but {
  width: 100%;
  display: flex;
  justify-content: end;
}
