.wrap {
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.wrap_1 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.wrap_2 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row-reverse;
}

.wrap1 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  color: black;
}

.wrap2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.wrap1_top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 25%;
  padding: 40px;
  padding-left: 80px;
}

.wrap1_bot {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
}

.title > input {
  width: 400px;
  height: 50px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

textarea {
  width: 80%;
  height: 60%;
  resize: none;
  margin: 0 auto;
  border-radius: 5px;
}

.wrap_btn {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_btn > button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  margin-right: 30px;
}

.wrap_btn > input {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

/* 별점 css */

.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute;
  left: 0;
  color: #ffc107;
  overflow: hidden;
  pointer-events: none;
}

.star_background {
  padding-left: 5px;
}

/* 별점 end */

p {
  font-size: 2rem;
}
