.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrap_head {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
}

.wrap_body {
  width: 100%;
  height: auto;
}

.wrap_footer {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-flow: row-reverse;
}

.head_left {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  text-align: left;
  align-items: center;
  padding-left: 10%;
}

.head-con {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.head-con > input {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
}

p {
  width: 100%;
  height: 30px;
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}

.head_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.body-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.btn > input {
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 1920px) {
  .container {
    max-width: 100%;
  }
}
