<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.spring.mukstar.dto.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.spring.mukstar.dto.ResBoardDTO" alias="ResBoardDTO"/>
        <typeAlias type="com.spring.mukstar.dto.SubscribeDTO" alias="SubscribeDTO"/>
    </typeAliases>
</configuration>